@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #303841;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #4FB9FC;
    --cor-hover: #3A4750;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --tamanho-fonte-24px: 1.5rem;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-24px);    
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
}

/* Estilizando o botão do menu */
#menu-btn {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border: none;
}
  
/* Estilizando os ícones do botão */
#menu-btn span {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    background-color: var(--cor-secundaria);
}
  
/* Estilizando o menu quando escondido */
#menu {
    display: none;
    /* position: absolute; */
    top: calc(100% + 10px);
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: var(--cor-primaria);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: auto;
    transform: translateX(0);
}
  
/* Estilizando os itens do menu */
#menu li {
    padding: 10px;
    font-style: italic;
}
  
/* Estilizando os links do menu */
#menu li a {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-size: var(--tamanho-fonte-24px);
    font-family: var(--fonte-secundaria);
}
  
/* Estilizando o menu quando exibido */
#menu.show {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-primaria);
    position: relative;
}

.apresentacao {
    padding: 1% 15%;
    gap: 82px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto {
    font-size: var(--tamanho-fonte-24px);
    font-family: var(--fonte-secundaria);
    list-style-type: none;
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1rem;
}

.apresentacao__conteudo__texto__white:hover {
    color: white;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__substituto {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--tamanho-fonte-24px);
}

.apresentacao__links__navegacao {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--tamanho-fonte-24px);
    font-weight: 600;
    border: 2px solid var(--cor-secundaria);
    padding: 14px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    border: 3px solid var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 70%;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-30px);
    }
    100% {
        transform: translatey(0px);
    }
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-fonte-24px);
    font-weight: 400;
}

.rodape__a {
    text-decoration: none;
    color: var(--cor-primaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        display: flex;
        align-items: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
        display: flex;
        align-items: center;
    }
}
/* Aqui eu estou tentando por o music-wave na minha página */
.music {
    width: 450px;
    height: 200px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.music .bar {
    width: 12px;
    border-radius: 10px;
    background: white;
    animation: movement 1.5s ease-in-out infinite;
}

@keyframes movement {
    0%, 100% {
        height: 2px;
    }
    50% {
        height: 80px;
    }
}

.music .bar:nth-child(1) {
    background: var(--cor-secundaria);
    animation-delay: 1s;
}

.music .bar:nth-child(2) {
    background: var(--cor-terciaria);
    animation-delay: .8s;
}

.music .bar:nth-child(3) {
    background: var(--cor-secundaria);
    animation-delay: .6s;
}

.music .bar:nth-child(4) {
    background: var(--cor-terciaria);
    animation-delay: .4s;
}

.music .bar:nth-child(5) {
    background: var(--cor-secundaria);
    animation-delay: .2s;
}

.music .bar:nth-child(6) {
    background: var(--cor-terciaria);
    animation-delay: .2s;
}

.music .bar:nth-child(7) {
    background: var(--cor-secundaria);
    animation-delay: .4s;
}

.music .bar:nth-child(8) {
    background: var(--cor-terciaria);
    animation-delay: .6s;
}

.music .bar:nth-child(9) {
    background: var(--cor-secundaria);
    animation-delay: .8s;
}

.music .bar:nth-child(10) {
    background: var(--cor-terciaria);
    animation-delay: 1s;
}